<div class="write-twit">
        <img src="/img/kripal.jpg" alt="" class="user-img-40">

        <form class="twt-form" action="/" method="post">
        <textarea class="txt-area" name="tweetContent" id="tweetContent" cols="30" rows="3" placeholder="what's happening?">{{tweetContent}}</textarea><br>
        <div class="twt-btm">
           <div class="twt-btm-left">
                <i class="fa-regular fa-image"></i>
                <i class="fa-regular fa-image"></i>
               <i class="fa-regular fa-face-smile"></i>
               <i class="fa-regular fa-face-smile"></i>
               <i class="fa-regular fa-calendar"></i>
               <i class="fa-regular fa-calendar"></i>
               
           </div>
           <div class="twt-btm-right">     
               <button type="submit" class="twt-btn">Tweet</button>
           </div>
        </div>
        </form>

</div>