 <div class="search-form">
           <form action="">
               <label for=""><i class="fas fa-search"></i></label>
               <input type="text" name="" id="" value="Search Twitter">
               
           </form>
           
       </div>
<br>
<br>
<div class="whatshappening">
    <h2>What's Happening</h2>
    <div class="happening">
        <span>Entertainment · Trending</span>
        <h3>#KashmirFiles</h3>
        <span>3,494 Tweets</span>
    </div><br>
    <div class="happening">
        <span>Entertainment · Trending</span>
        <h3>#KashmirFiles</h3>
        <span>3,494 Tweets</span>
    </div><br>
    <div class="happening">
        <span>Entertainment · Trending</span>
        <h3>#KashmirFiles</h3>
        <span>3,494 Tweets</span>
    </div><br>
    <div class="happening">
        <span>Entertainment · Trending</span>
        <h3>#KashmirFiles</h3>
        <span>3,494 Tweets</span>
    </div><br>
    <div class="happening">
        <span>Entertainment · Trending</span>
        <h3>#KashmirFiles</h3>
        <span>3,494 Tweets</span>
    </div><br>
    <div class="happening">
        <span>Show more</span>
        
    </div>
</div>