
      <ul class="menu">
            <li class="menu-item">
                <a class="menu-link active">
                    <i class="fas fa-dove"></i>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/"> 
                        <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link">
                        <i class="fas fa-hashtag"></i>
                </a>
            </li>
            <li class="menu-item">
                    <a class="menu-link">
                        <i class="fas fa-bell"></i>
                    </a>
            </li>
            <li class="menu-item">
                    <a class="menu-link">
                        <i class="fas fa-envelope"></i>
                    </a>
            </li>
            <li class="menu-item">
                    <a class="menu-link">
                        <i class="fas fa-bookmark"></i>
                    </a>
            </li>
            <li class="menu-item">
                    <a class="menu-link">
                        <i class="fas fa-dove"></i>
                    </a>
            </li>
            <li class="menu-item">
                <a class="menu-link">
                        <i class="fas fa-sticky-note"></i>
                </a>
            </li>


            <li class="menu-item">
                <a class="menu-link" href="#">
                    <img class="user-img-30" alt="" src="/img/kripal.jpg">
                </a>
            
                <div class="box">
                    <img src="/img/kripal.jpg" alt="" class="user-img-40">
                    <p class="name" >Kripal Choudhary</p>
                    <p class="username">@kripal1303</p>
                     <div class="bio">MERN stack developer</div>
                        <div class="follow">
                            <a href="#"><span>100</span> Following</a>
                            <a href="#"><span>1249</span> Followers</a>
                         </div>
                </div>
            </li>


            <li class="menu-item">
                <a class="menu-link">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
            </li>

            <li class="menu-item ">
                 <a class="menu-link add-twit">
                    <i class="fas fa-feather-alt"></i>
                </a>
            </li>
      </ul>
     