<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/tweets.css">
    <link rel="stylesheet" href="/styles/newTweet.css">
    <link rel="stylesheet" href="/styles/tweetlist.css">
    <link rel="stylesheet" href="/styles/sidebarright.css">
    <script src="https://kit.fontawesome.com/3c30c512f5.js" crossorigin="anonymous"></script>
    
   
</head>
<body>
    
  <div class="twitter-wrap">
    <div class="side-left">
    {{> sidebarleft}}
    </div>

    <div class="side-main"> 
     {{> nav}}
     {{> newTweet}}
     {{> tweetlist}}
    </div>

    
    <div class="side-right">
      {{> sidebarright}}
    </div>
  </div>
</body>
</html>
    












 